
.about-banner h2 {
    display: none;
}
.about-banner .slideshow-container {
    height: 223px;
}
.about-collapse {
    display: flex;
    max-width: 1240px;
    flex-direction: column;
    gap: 15px;
}