.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
}
.notfound h1 {
    font-size: 200px;
    font-weight: 800;
    margin: 0;
}
.notfound p {
    font-size: 26px;
    font-weight: 500;
}
.notfound a {
    color: #FF6060;
    text-decoration: none;
}
.notfound a:hover {
    text-decoration: underline;
}