.list {
    max-width: 1180px;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    border-radius: 25px;
    gap: 1rem;
    padding: 30px;
    justify-content: space-between;
}

@media screen and (min-width: 691px), (max-width: 900px) {
    .list {
        justify-content: center;
    }
}

@media screen and (max-width: 690px) {
    .list {
        background-color: white;
        padding: 0;
    }
}