html {
    padding: 20px 100px 20px 100px;
}
body {
    margin: auto;
    padding: 0;
    font-family: 'Montserrat';
}

@media screen and (max-width: 912px) {
    html {
        padding: 20px 20px 20px 20px;
    }
}
